.container-nav {
  display: flex;
  padding: 5px;
  height: 140px;
  background-color: rgb(80, 133, 183);
}
.container-nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container-nav .navbar .brand {
  display: flex;
  align-items: center;
}
.container-nav .navbar .nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}
.container-nav .navbar li > a {
  padding: 8px 24px;
  color: rgb(6, 3, 3);
  text-decoration: none;
  align-items: center;
  display: inline-block;
}
.container-nav .navbar li > a:hover {
  transform: scale(1.2);
  background-color: #fff;
  color: #2e0f94;
}
.container-nav .navbar li:not(:last-child) {
  margin-right: 20px;
}

body {
  background-image: url("../img/orilla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  font-family: "Poppins", sans-serif;
  margin-bottom: 200px;
  max-width: 100%;
}

.imagen-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.imagen-contenedor img {
  border-radius: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 20px;
  justify-items: center;
}
.grid-container .item {
  border: 0px;
  grid-column: span 1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.grid-container .item img {
  width: 80%;
  height: 80%;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
.container iframe {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.Formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.container-footer {
  background-color: rgb(80, 133, 183);
  text-align: center;
  font-size: 15px;
  height: 90px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(80, 133, 183);
  padding: 20px;
  box-sizing: border-box;
}
.container-footer .navbarfooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container-footer .navbarfooter .nav-footerlinks {
  display: flex;
  align-items: center;
}
.container-footer .navbarfooter li {
  list-style-type: none;
  margin-bottom: 10px;
}
.container-footer .navbarfooter li > a {
  padding: 8px 24px;
  color: rgb(6, 3, 3);
  text-decoration: none;
}
.container-footer .navbarfooter li > a:hover {
  transform: scale(1.2);
  background-color: #fff;
  color: #2e0f94;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social-media a {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  transition: all 0.3s ease;
}
.social-media a:hover {
  transform: scale(1.2);
  background-color: #fff;
  color: #2e0f94;
}

/* pantallas medianas */
@media (min-width: 577px) and (max-width: 768px) {
  .imagen-contenedor {
    margin-top: 20px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .Formulario {
    height: 50vh;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    margin-top: 20px;
  }
  li {
    margin-bottom: 10px;
  }
}
/* pantallas grandes */
@media (min-width: 769px) and (max-width: 992px) {
  .imagen-contenedor {
    margin-top: 30px;
  }
  .grid-container {
    grid-gap: 20px;
  }
  .Formulario {
    height: 60vh;
  }
}

/*# sourceMappingURL=styles.css.map */
