// Variables
$primary-color: rgb(80, 133, 183);
$hover-scale: 1.2;
$hover-background-color: #fff;
$hover-text-color: #2e0f94;

// Barra de navegacion
.container-nav {
    display: flex;
    padding: 5px;
    height: 140px;
    background-color: $primary-color;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .brand {
            display: flex;
            align-items: center;
        }

        .nav-links {
            display: flex;
            align-items: center;
            list-style: none;
        }

        li {
            > a {
                padding: 8px 24px;
                color: rgb(6, 3, 3);
                text-decoration: none;
                align-items: center;
                display: inline-block;

                &:hover {
                    transform: scale($hover-scale);
                    background-color: $hover-background-color;
                    color: $hover-text-color;
                    }
                }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

// body
body {
    background-image: url('../img/orilla.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 200px;
    max-width: 100%;
}

.imagen-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;

    img {
        border-radius: 40px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
    justify-items: center;

    .item {
        border: 0px;
        grid-column: span 1;
        margin-top: 30px;
        margin-bottom: 30px;

        img {
            width: 80%;
            height: 80%;
        }
    }
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 5px;
    justify-content: center;
    text-align: center;

    iframe {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 5%;
    }
}

.Formulario {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #7ab8c8;
    border-radius: 8px;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 10px;
        }

        input,
        textarea {
            width: 100%;
            max-width: 1000px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        textarea {
            height: 200px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 4px;

            &:hover {
                background-color: #25a4be;
            }
        }
    }
}


// Footer

.container-footer {
    background-color: $primary-color;
    text-align: center;
    font-size: 15px;
    height: 90px;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    padding: 20px;
    box-sizing: border-box;


    .navbarfooter {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .nav-footerlinks {
            display: flex;
            align-items: center;
            }

            li {
                list-style-type: none;
                margin-bottom: 10px;

                > a {
                    padding: 8px 24px;
                    color: rgb(6, 3, 3);
                    text-decoration: none;

                    &:hover {
                        transform: scale($hover-scale);
                        background-color: $hover-background-color;
                        color: $hover-text-color;
                        }
                    } 
                }
            }
}

// Redes sociales
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    a {
        display: inline-block;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.2);
            background-color: #fff;
            color: #2e0f94;
        }
    }
}

// Media Queries...

/* pantallas pequeñas */
@media (max-width: 576px) {
    .imagen-contenedor,
    .grid-container,
    .Formulario {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 20px;
    }

    li {
        margin-bottom: 10px;
    }
}

/* pantallas medianas */
@media (min-width: 577px) and (max-width: 768px) {
    .imagen-contenedor {
        margin-top: 20px;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .Formulario {
        height: 50vh;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 20px;
    }

    li {
        margin-bottom: 10px;
    }
}

/* pantallas grandes */
@media (min-width: 769px) and (max-width: 992px) {
    .imagen-contenedor {
        margin-top: 30px;
    }
    .grid-container {
        grid-gap: 20px;
    }
    .Formulario {
        height: 60vh;
    }
}